.form {
    display: flex;
    justify-content: center;
}

.main {
     font-family: Arial, sans-serif;
      background-color: #aea8a8;
      text-align: center;
      height: 550px;
      width: 650px;
      border: 1px solid black;
      border-radius: 30px;

}